.weather-header {
	background: linear-gradient(
		109.5deg,
		rgb(13, 11, 136) 9.4%,
		rgb(86, 255, 248) 78.4%
	);
}

@media (min-width: 768px) {
	.forecast-col {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
